# https://help.github.com/articles/dealing-with-line-endings/#platform-all
# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf